/* ====== Reset ====== */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
	list-style:none;
	outline:none;
}


/* ============ HTML5 ============*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; } [hidden] { display: none; }


/* ============ Base Styles ================*/

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #252525; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/* ============ Easter Eggs ============*/

::-moz-selection { background: #252525; color: #fff;  }
::selection { background: #252525; color: #fff;  }


/* ============ Colors ============*/


/* ============ Fixes ============*/

img { border:0; -ms-interpolation-mode:bicubic; }
.media { position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
.media iframe, .media object, .media embed  { position:absolute; top:0; left:0; width:100%; height:100%; }

/* ============ Typography ============*/

.wf-loading { visibility: hidden !important; }

/* HGroups */
h1,h2,h3,h4,h5 { font-weight:normal; }
h1 { font-size:27px; }
h2 { font-size:25px; }
h3 { font-size:23px; }
h4 { font-size:21px; }
h5 { font-size:19px; }
h6 { font-size:17px; }

/* Paragraphs */
p { font-size:12px; line-height:18px; margin-bottom:15px; }

/* Links */
a { }
a:hover { }
a.active { }


/* ============ Site ============*/



